<div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img mat-card-image class="example-header-image" [src]="recipe.picture">
      </div>
      <mat-card-title>{{ recipe.name }}</mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="recipe.picture">
    <mat-card-content>
      <p>
        {{ recipe.description }}
      </p>
    </mat-card-content>

    <div *ngIf="isExpanded">
      <app-recipe-detail [recipe]="recipe"></app-recipe-detail>
    </div>

    <mat-card-actions>
      <button routerLink="/recipes/{{ recipe.id }}" mat-raised-button color="primary">
        <span>Consulter les details!</span>
      </button>
      <button (click)="deleteRecipe()" mat-raised-button color="warn">
        <span>Delete</span>
      </button>
      <button (click)="toggleExpand()" mat-mini-fab color="disabled" class="Expand-mini">
        <span *ngIf="isExpanded === false">Plus!</span>
        <span *ngIf="isExpanded">Moins</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>